/* 각각의 페이지의 내용 콘텐츠 영역-회사소개 내용 */

#content{width: 1200px; margin: 0 auto;}
#content .title_area{position: relative; padding-top: 100px;}
#content .line_map{font-family: 'Nanum Gothic', sans-serif; position: absolute; right: 15px; top: 15px;}
#content h2{font-weight: 700; text-align: center; font-size: 50px; margin-bottom: 100px;}

#content .content_area{width: 1200px; margin: 0 auto; overflow: hidden;}

#content .sub_bar{width: 1200px; margin: 0 auto; margin-bottom: 150px; overflow: hidden; }
#content .sub_bar li{float: left ; width: 598px; border: 1px solid #ccc;}
#content .sub_bar li a{display: block; font-size: 20px; text-align: center; padding: 15px 0;}
#content .sub_bar li a:hover{background: #109cf4; font-weight: 700; color: #fff;}

#content .content_area div{position: relative; width: 1200px; font-size: 16px; line-height: 2em; text-align: justify; margin-bottom: 150px; font-family: 'Nanum Gothic', sans-serif; }

.color_blue{color: #109cf4;}
.content_top{margin-bottom: 150px;}
.content_top p{font-size: 20px; text-align: center; line-height: 2em;}

.content_area{overflow: hidden;}

.con1{margin-bottom: 100px; height: 400px;}
.con1 img{display: block; float: left; border-radius: 30px;}
.con1 dl{float: right; text-align: center; margin-right: 70px;}
.con1 .main_dt{font-size: 34px; font-weight: 700; color: #109cf4; margin-bottom: 10px; padding-top: 70px;}
.con1 .main_dd{font-size:30px; font-weight: 700; color: #109cf4; margin-bottom: 50px;}
.con1 .sub_dt{font-size: 24px; font-weight: 700; color: #333; margin-bottom: 50px;}
.con1 .sub_dd{font-size: 20px; font-weight: 400; color: #333;}

.con2{margin-bottom: 100px; height: 400px;}
.con2 img{display: block; float: right; border-radius: 30px;}
.con2 dl{float: left; text-align: center; margin-left: 70px; margin-bottom: 50px;}
.con2 .main_dt{font-size: 34px; font-weight: 700; color: #109cf4;  margin-bottom: 10px; padding-top: 70px;}
.con2 .main_dd{font-size:30px; font-weight: 700; color: #109cf4; margin-bottom: 50px;}
.con2 .sub_dt{font-size: 24px; font-weight: 700; color: #333; margin-bottom: 50px;}
.con2 .sub_dd{font-size: 20px; font-weight: 400; color: #333;}