.main{position: relative; overflow: hidden; height: 150px; width: 100%; background: url(../images/mobile_sub2_visual.jpg) no-repeat center; margin-top: 50px;}
.main h3{position: absolute; top: 40%; width: 100%; color: #fff; font-weight: 400; font-size: 18px; text-align: center;}

#content{overflow: hidden;}
#content h2{font-weight: 700; font-size: 26px; text-align: center; margin-top: 50px;}
#content .title{font-weight: 400; font-size: 16px; text-align: justify; margin-top: 50px; margin-bottom: 50px; line-height: 1.5em;}
#content span{color: #109cf4;}

#content{overflow: hidden; padding: 0 20px;}

#content>div{overflow: hidden; margin-top: 50px;}

#content h4{display: block; font-weight: 700; font-size: 20px; margin-bottom: 20px; padding: 0 0 0 15px;}
#content h4::before{position: absolute; display: block; content: ''; width: 8px; height: 22px; background: #001d6f; top: 3px; left: 0;}

#content h5{font-size: 20px; font-weight: 700; text-align: center; margin-top: 40px;}
#content img{position: relative; top: 0; left: 0}

.con1{position: relative; overflow: hidden;}
.con1_back{background: #f5f5f5; border-radius: 20px;}
.con1 img{display: block; float: left; width: 8%; margin: 20px 6% 20px 6%;}

.con1_img{margin: 0 50px;}
.con1_1{overflow: hidden; width: 100%; margin: 0 auto;}
.con1_1 ul{line-height: 1.5em; text-align: center;}

.con1_text{display: block;}
.con1_text li{float: left; width: 33%; font-size: 16px;}

.con2_img{margin: 0 50px;}
.con1_2{overflow: hidden; width: 100%; margin: 0 auto;}
.con1_2 ul{line-height: 1.5em; text-align: center;}

.con2_text{display: block;}
.con2_text li{float: left; width: 33%; font-size: 16px; margin-bottom: 50px;}

.last1{position: relative; margin-top: 50px; margin-bottom: 40px;}
.last1 span{color: #109cf4;}
